.portFolioContainer {
    background-color: #1a1a1a;
    height: 100vh;
    padding: 50px;
    color: white;
    text-align: center;
}

.portFolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portFolioContainer h1 {
    margin-bottom: 1rem;
}