.home {
    background: url('/public/Img/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    color: white;
    width: 100%;
}

.h1Home {
    margin-top: 4rem;
}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spanHome {
    margin-top: 3rem;
    border: 1px solid rgb(192, 4, 4);
    padding: 20px;
    font-weight: 900;
    font-size: 2rem;
    color: rgb(192, 4, 4);
}

.animationText {
    margin-top: 3rem;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.aboutText {
    font-size: 1.2rem;
    margin-top: 3rem;
    direction: rtl;
    text-align: center;
    padding: .7rem;
    line-height: 2rem;
}

a.btn {
    margin-top: 2rem;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    width: 180px;
    height: 60px;
    padding-top: 18px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

a.btn:hover {
    background-color: rgb(155, 5, 5);
    transition: all 1s;
}

@media screen and (min-width:40rem) {
    /*----Mobile 640px-----*/
    img {
        height: 100vh;
    }
    .aboutText {
        font-size: 1.3rem;
        padding: 50px 10px 0px;
        margin-bottom: 4rem;
    }
    .btn {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 48rem) {
    /*---------Tablet  768px--------*/
    .aboutText {
        font-size: 1.4rem;
        padding: 45px 10px 0px;
        margin-bottom: 4rem;
        line-height: 2.5rem;
    }
}

@media screen and (min-width:64rem) {
    /*--------------Laptop  1024px--------------*/
    .aboutText {
        font-size: 1.4rem;
        padding: 45px 8px 0px;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width:80rem) {
    /*---------------PC  1280px-------------------*/
    .aboutText {
        font-size: 1.7rem;
        padding: 40px 8px 0px;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width:96rem) {
    /*----------------4K 1536px-------------------*/
    .aboutText {
        font-size: 2rem;
        padding: 35px 6px 0px;
        margin-bottom: 3rem;
    }
}