    .workComponentItem {
        width: 30%;
        margin-left: 2rem;
        width: 100%;
    }
    
    .headerWorkComponentItem {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }
    
    .iconWorkComponentItem {
        margin-left: 1rem;
        padding: .7rem;
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        font-size: 2rem;
        margin-right: .2rem;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .iconWorkComponentItem:hover {
        background-color: white;
    }
    
    .textWorkComponentItem {
        margin-top: 1rem;
        text-align: right;
        font-size: 1.2rem;
        margin-right: 3rem;
        display: none;
    }
    
    .h2WorkComponentItem {
        font-size: 1rem;
    }
    
    @media screen and (min-width:40rem) {
        /*-------Mobile 640px------------*/
        .textWorkComponentItem {
            display: none;
        }
        .workComponentItem {
            width: 100%;
        }
        .h2WorkComponentItem {
            font-size: 1.25rem;
        }
        .iconWorkComponentItem {
            margin-right: 0px;
        }
    }
    
    @media screen and (min-width: 48rem) {
        /*---------------Tablet 768px----------*/
        .textWorkComponentItem {
            display: block;
        }
        .workComponentItem {
            width: 100%;
        }
        .h2WorkComponentItem {
            font-size: 1.8rem;
        }
        .iconWorkComponentItem {
            margin-right: 0px;
        }
    }
    
    @media screen and (min-width: 64rem) {
        /*----------------Laptop 1024px-------------*/
        .workComponentItem {
            width: 100%;
        }
        .h2WorkComponentItem {
            font-size: 1.25rem;
        }
        .iconWorkComponentItem {
            margin-right: 0px;
        }
    }
    
    @media screen and (min-width: 80rem) {
        /*-------------------Pc 1280px------------*/
        .workComponentItem {
            width: 100%;
        }
        .h2WorkComponentItem {
            font-size: 1.25rem;
        }
        .textWorkComponentItem {
            margin-top: 1.3rem;
            text-align: justify;
            font-size: 1.2rem;
            margin-right: 2rem;
        }
    }
    
    @media screen and (min-width: 90rem) {
        /*--------------4K 1536px-----------*/
        .iconWorkComponentItem {
            margin-left: 10px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            color: #D43F52;
            font-size: 5rem;
            margin-right: 24px;
            width: 110px;
            height: 110px;
            line-height: 55px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .h2WorkComponentItem {
            font-size: 2.2rem;
        }
        .textWorkComponentItem {
            font-size: 1.5rem;
        }
    }
    /*--- @media screen and (min-width:40rem) {
        -------Mobile 640px------------
    }
    
    @media screen and (min-width: 48rem) {
        ---------------Tablet 768px----------
    }
    
    @media screen and (min-width: 64rem) {
        ----------------Laptop 1024px-------------
    }
    
    @media screen and (min-width: 80rem) {
        -------------------Pc 1280px------------
    }
    
    @media screen and (min-width: 90rem) {
        --------------4K 1536px-----------
    }*/