.work {
    background: #1a1a1a;
    height: auto;
    color: white;
    padding: .2rem;
}

.workComponent {
    padding: 10px;
    display: flex;
    direction: rtl;
    flex-direction: column;
}

.h1Work {
    padding-top: 2rem;
    text-align: center;
}

@media screen and (min-width:40rem) {
    /*----Mobile 640px-----*/
    .h1Work {
        text-align: center;
    }
    .work {
        width: 100%;
        padding: 1rem;
        height: auto;
    }
    .workComponent {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 48rem) {
    /*---------Tablet  768px--------*/
    .h1Work {
        text-align: center;
    }
    .work {
        width: 100%;
        padding: 1rem;
        height: auto;
    }
    .workComponent {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:64rem) {
    /*--------------Laptop  1024px--------------*/
    .h1Work {
        text-align: center;
    }
    .work {
        width: 100%;
        padding: 1rem;
        height: auto;
    }
    .workComponent {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:64rem) {
    /*--------------Laptop  1024px--------------*/
    .h1Work {
        text-align: center;
    }
    .work {
        width: 100%;
        padding: 1rem;
        height: auto;
    }
    .workComponent {
        padding: .9rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:80rem) {
    /*---------------PC  1280px-------------------*/
}

@media screen and (min-width:96rem) {
    /*----------------4K 1536px-------------------*/
}